*{
    margin: 0% ;
    padding: 0%;
    box-sizing: border-box;
}

body{
   overflow-x: hidden; 
}


footer{
    margin-top: 100px;
    border-top: 2px solid aliceblue;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--colorFondoFooter);
}