*{
    margin: 0% ;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --colorFondo: #2d3250;  
    --colorContenedoresPoyectos:#434b76;
    --colorFondoFooter:rgb(217, 134, 75);
    --colorSubTitulos:goldenrod;
}

body{
   overflow-x: hidden; 
   background-color: var(--colorFondo);
}


button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 5px;
}

h1{
    margin-top: 30px;
    text-align: center;
    color: var(--colorSubTitulos);
}


p{
    margin: 10px auto;
    width: 80vw;
    text-align: justify;
    color: aliceblue;
}



section{
    margin: 0% auto;
    width: 90vw;
}




section>div{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 20px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
    border-bottom: 2px solid aliceblue;
   
}

section>div>p{
    width: 100%;
}

section>div>img{
    width: 100%;
}

.imgResponsive{
    margin: 0% auto;
    width: 250px;
    height: 400px;
}

footer{
    margin-top: 100px;
    border-top: 2px solid aliceblue;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--colorFondoFooter);
    color: aliceblue;
}


@media (min-width:1100px){

    section>div{
        flex-direction: row;
    }

    p{
        font-size: 1.5em;
    }

    div:nth-child(even){
        flex-direction: row-reverse;
    }

    .imgResponsive{
        margin: 0% auto;
        width: 400px;
        height: 600px;
    }

    section>div>img{
        width: 50vw;
    }

    
}