*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

:root {
    --colorFondo: #2d3250;  
    --colorContenedoresPoyectos:#434b76;
    --colorFondoFooter:rgb(217, 134, 75);
    --colorSubTitulos:goldenrod;
}

body{
    overflow-x: hidden;
    background-color: var(--colorFondo);
    font-family: "Open Sans", serif;

}

hr{
    margin: auto;
    width: 50vw;
}

a{
    text-decoration: none;
}

a:hover >div{
    background-color: var(--colorFondoFooter);
}


h3,p,h4,table{
    color: aliceblue;
}

.name,h6,h5{
    color:var(--colorSubTitulos);
}


.containerMountain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/mountainImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
}

.containerMountain p{
    font-size: 0.9em;
}

.containerMountain h3{
    margin-bottom: 5px;
    font-size: 5vw;

}

.containerMountain p{
    width: 70%;
    text-align: justify;
}

.aboutme{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}



.aboutme >div:first-child{
    display: none;
}

.aboutme >div:nth-child(2) h3,h6,p{
    margin-left: 15px;
    margin-bottom: 5px;
}


.aboutme >div:nth-child(2){
    width: 80vw;
    box-shadow: rgb(140, 138, 138) 3px 3px 5px;
    border-radius: 10px;
}

.aboutme table{
    border-spacing: 15px 10px;
    font-size: 0.9em;
}

#servicesTitle{
    margin-top: 10px;
    text-align: center;
}

.row{
    color: goldenrod;
    position: absolute;
    bottom: 0%;
    right: 10%;
}


.projects{
    margin: 10px auto;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    text-align: left;
      
}

.projects div{
    position: relative;
    padding:5px 10px 5px 5px; 
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--colorContenedoresPoyectos);
    height: 190px;
}

.projects div i{
    margin: 20px 0px 20px 0px;
}

.projects div p{
    padding-right: 5px;
    text-align: justify;
}

footer{
    margin-top: 100px;
    border-top: 2px solid aliceblue;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--colorFondoFooter);
}


/*<----------------- DESING DESKTOP-------------------> */

@media(min-width:900px){

    .containerMountain{
        padding-bottom: 20px;
    }

    .projects{
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows:repeat(2,1fr) ;
    }

    .projects div{
        height: 150px;
    }

    .aboutme{
        margin: 0% auto;
        width:50vw;
        height: 380px;
        
    }
    
    .aboutme >div:first-child{
        display: block;
        background-image: url("../assets/img/fotoPersonal.png");
        background-size: 100% 100%;
        width: 1000px;
    }



}











