/* name:Miguel Gutiérrez Noguera */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url('../img/images/wallpaper.png');
    font-family: 'Pokemon Solid',Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


h1,h2{
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    letter-spacing: 4px;
}

h2{
    padding-bottom: 40px;
}

section{
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6,1fr);  
    grid-template-rows: repeat(5,1fr); 
    gap: 20px;
    width: 90vw;
    margin-bottom: 20px;

}

section>div{
    position: relative;
    text-align: center;
    border-radius: 10px; 
    padding-bottom: 50%;
    
}


section>div>input{
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 100%;
    left: 0%;
    opacity: 0;
}

.fondo{
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    transition: transform 0.5s;
    transition-delay: 0.5s; 
    border: 2px solid black;
    border-radius: 5px;
}

.caja1{
    position: absolute;
    z-index: 2;
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(../img/images/pokeball.png);
    background-size: 100% 100%;
    border-radius: 10px;
    transition: transform 0.5s; 
    border: 2px solid black;

    /* ocultamos la tarjeta de las características del pokemon */
      transform: rotateY(90deg);  
}

.caja1>p{
    background-color: rgba(233, 232, 232, 0.5);
    margin: auto;
    width: 95%;
    border-radius: 2px;
    padding: 3px;
    font-family: 'Pokemon Classic';
    border-radius: 5px;
    font-size: 0.9vw;
  
}

.caja2{
    left: 5%;
    bottom: 5%;
    position: absolute;
    z-index: 4;
    width: 90%;
    border: solid 2px aliceblue;
    opacity: 0;
    border-radius: 5px;
    animation: animacionNombrePokemon 5s ease-in-out 0s infinite alternate none;
    box-shadow: 0px 0px 30px  rgb(255, 255, 255);
    transition:0s;
    background-color: rgba(191, 34, 238,0.5);
    transition-property:opacity,z-index,transform;
    transition-duration: 1s,1s,0s;
    transition-delay: 0s,0s,0s;
}

.caja2>h3{
    
    font-size: 2vw;
    opacity: 0;
    border-radius: 4px;
    transition: all 1s;
    transition-delay: 0.5s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 4, 247);
    color: aliceblue;
   
}


.caja3{
    margin: auto;
    position: absolute;
    z-index: 10;
    height: 19.5%;
    background: linear-gradient(180deg, rgba(68,0,254,1) 0%, rgba(191,34,238,1) 35%, rgba(233,84,84,1) 100%);
    bottom:-85.2%;
    width: 82%;
    left: 5%;
    opacity: 0;
    border-radius: 10px;
    transform: scaleX(0);
   
    transition: transform 1s ;
    transition-delay: 0.5s;

}


/* transiciones*/
div:hover > div:last-child{
    opacity: 1;
    transition-delay: 0.5s; 
} 

div:hover >.caja2{
    opacity: 1;
    z-index: 20;
    
}

div:hover >.caja2>h3{
    opacity: 1;
 
}

div:hover >.caja3{
    transform: scaleX(1.1);
    transform-origin: left;
   
}


#check1:checked ~ .caja1 {
    transform: rotateY(0deg);
}  

#check1:checked ~ .caja2{
    transform: rotateY(90deg);
    opacity: 0;
    transition-delay: 0s; 
}


#check1:checked ~ .caja3{
    transform: rotateY(90deg);
    transition-delay: 0s; 
    transition: 0s transform;
    

}



.d2 .caja2>h3,.d3 .caja2>h3,.d6 .caja2>h3,.d7 .caja2>h3,.d10 .caja2>h3,.d14 .caja2>h3,.d16 .caja2>h3,.d17 .caja2>h3,.d18 .caja2>h3{
    font-size: 0.9vw;
   
}

.d2 .caja3,.d3 .caja3,.d6 .caja3,.d7 .caja3,.d10 .caja3,.d14 .caja3,.d16 .caja3,.d17 .caja3,.d18 .caja3{
    height: 17%;
    bottom:-87%;
}




.d3>.caja1,.d18>.caja1{
    background-image: url(../img/images/pokeball2.png);
   
}

/* para posicionar correctamente la caja2 dentro de los diferentes divs */
.d1>div:last-child,.d5>div:last-child,.d15>div:last-child{
     top: -15%; 
}

.d2>div:last-child,.d3>div:last-child,.d6>div:last-child,.d7>div:last-child,.d10>div:last-child,.d14>div:last-child,.d16>div:last-child,.d17>div:last-child,.d18>div:last-child{
     top: -30%; 
} 


/* aplicamos las imagenes de fondo alos contenedores */

.d1>.fondo{
    background-image:  url('../img/images/kyogre.png'),radial-gradient(#cc85e4, #650c88) ; 
}

.d2>.fondo{
    background-image: url('../img/images/machamp.png'),radial-gradient(#9b9bf4, #0b1eed) ;
}

.d3>.fondo{
    background-image: url(../img/images/milotic.png);
}

.d5>.fondo{
    background-image: url('../img/images/lugia.png'),radial-gradient(#cc85e4, #650c88)  ;
}

.d6>.fondo{
    background-image: url('../img/images/haxorus.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
}

.d7>.fondo{
    background-image: url('../img/images/ditto.png'),radial-gradient(#9b9bf4, #0b1eed);
}

.d10>.fondo{
    background-image: url('../img/images/garchomp.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
}

.d14>.fondo{
    background-image: url('../img/images/zoroark.png'),radial-gradient(#9b9bf4, #0b1eed)  ; 
   
}

.d15>.fondo{
    background-image: url('../img/images/moltres.png'),radial-gradient(#cc85e4, #650c88)  ;
}

.d16>.fondo{
    
    background-image: url('../img/images/gliscor.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
}

.d17>.fondo{
    background-image: url('../img/images/aegislash.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
}

.d18>.fondo{
    background-image: url('../img/images/staraptor.png');
}


/* posicionamientos de los contenedores grid */
 .d1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.d2{
    grid-column: 3/4;
    grid-row: 1/2;
}

.d3{
    grid-column: 4/6;
    grid-row: 1/2;

}

.d5{
    grid-column: 3/5;
    grid-row: 2/4;
}

.d6{
    grid-column:5/6 ;
    grid-row: 2/3;
}

.d7{
    grid-column:6/7;
    grid-row:2/3;
}

.d10{
    grid-column:5/6;
    grid-row: 3/4;
}

.d14{
    grid-column:3/4;
    grid-row:4/5;
}

.d15{
    grid-column: 4/6;
    grid-row:4/6 ;
}

.d16{
    grid-column: 6/7;
    grid-row: 4/5;
}

.d17{
    grid-column:1/2 ;
    grid-row:5/6 ;
}

.d18{
    grid-column: 2/4;
    grid-row: 5/6;
}  



/* animaciones y transacciones */

@keyframes animacionNombrePokemon{
    20%{
        box-shadow: 0px 0px 0px  rgb(255, 255, 255);
    }
    40%{
        box-shadow: 0px 0px 10px  rgb(255, 255, 255);
    }
    50%{
        box-shadow: 0px 0px 30px  rgb(255, 255, 255);
    }
    80%{
        box-shadow: 0px 0px 0px  rgb(255, 255, 255);
    }
    90%{
        box-shadow: 0px 0px 10px  rgb(255, 255, 255);
    }
    100%{
        box-shadow: 0px 0px 30px  rgb(255, 255, 255);
    }
}


/* para posicionar correctamente la caja2 dentro de los diferentes divs */
.d1>div:last-child,.d5>div:last-child,.d15>div:last-child,.d2>div:last-child,.d3>div:last-child,.d6>div:last-child,.d7>div:last-child,.d10>div:last-child,.d14>div:last-child,.d16>div:last-child,.d17>div:last-child,.d18>div:last-child{
    top: -15%; 
}


#check1:checked ~ .fondo{
    transform: rotateY(90deg);
    transition-delay:0s;
}



@font-face {
    font-family: 'Pokemon Classic';
    src: url(../fonts/Pokemon\ Classic.ttf);
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url(../fonts/Pokemon\ Solid.ttf);
}


@media (max-width:1000px) {
    

    div:hover > div:last-child{
        opacity: 1;
        transition-delay: 0.5s; 
    } 
    
    section{
        width: 100vw;
        grid-template-columns: 600px;  
        grid-template-rows: repeat(12,600px); 
        justify-content: center;
        gap: 20px;
    }


    .caja2{
        opacity: 0;
        
    }

    .d2 .caja3,.d3 .caja3,.d6 .caja3,.d7 .caja3,.d10 .caja3,.d14 .caja3,.d16 .caja3,.d17 .caja3,.d18 .caja3{
        height: 11%;
        bottom:-93%;
    }

    .caja3{
        margin: auto;
        position: absolute;
        z-index: 10;
        height: 11%;
        background: linear-gradient(180deg, rgba(68,0,254,0.5) 0%, rgba(191,34,238,0.5) 35%, rgba(233,84,84,1) 100%);
        bottom:-93%;
        width: 0%;
        left: 5%;
        transition: 1s;
        transition-delay: 1s;
        opacity: 0;
        border-radius: 10px;
    }

    .d2 .caja2>h3,.d3 .caja2>h3,.d6 .caja2>h3,.d7 .caja2>h3,.d10 .caja2>h3,.d14 .caja2>h3,.d16 .caja2>h3,.d17 .caja2>h3,.d18 .caja2>h3{
        font-size: 18pt;
    }


    div>.caja2>h3{
        opacity: 0;
        font-size: 18pt;
    
    }

    .caja1>p{
        font-size: 20pt;
    }

    /* posicionamientos de lso contenedores grid */

    .d1{
        grid-column: 1/1;
        grid-row: 1/2;
    }
    
    .d2{
        grid-column: 1/1;
        grid-row: 2/3;
    }
    
    .d3{
        grid-column: 1/1;
        grid-row: 3/4;
    
    }
    
    .d5{
        grid-column: 1/1;
        grid-row: 4/5;
    }
    
    .d6{
        grid-column:1/1 ;
        grid-row: 5/6;
    }
    
    .d7{
        grid-column:1/1;
        grid-row:6/7;
    }
    
    .d10{
        grid-column:1/1;
        grid-row: 7/8;
    }
    
    .d14{
        grid-column:1/1;
        grid-row:8/9;
    }
    
    .d15{
        grid-column: 1/1;
        grid-row:9/10 ;
    }
    
    .d16{
        grid-column: 1/1;
        grid-row: 10/11;
    }
    
    .d17{
        grid-column:1/1 ;
        grid-row:11/12 ;
    }
    
    .d18{
        grid-column: 1/1;
       grid-row: 12/13;
    }  
    
    

    @keyframes animacionNombrePokemon{
        0%{
            box-shadow: 0px 0px 25px  rgb(255, 255, 255);
        }
    } 


    .d3>.caja1,.d18>.caja1{
        background-image: url(../img/images/pokeball.png);
       
    }

    /* colores de fondo */

    .d1>.fondo{
        background-image:  url('../img/images/kyogre.png'),radial-gradient(darkorange,orange,yellow, green) ; 
    }
    
    .d2>.fondo{
        background-image: url('../img/images/machamp.png'),radial-gradient(green,yellow,orange,rgb(206, 29, 176)) ;
    }
    
    .d3>.fondo{
        background-image: url(../img/images/milotic-sq.png),radial-gradient(purple,green,yellow);
    }
    
    .d5>.fondo{
        background-image: url('../img/images/lugia.png'),radial-gradient(darkorange,orange,yellow, green);
    }
    
    .d6>.fondo{
        background-image: url('../img/images/haxorus.png'),radial-gradient(green,yellow,orange,rgb(206, 29, 176));
    }
    
    .d7>.fondo{
        background-image: url('../img/images/ditto.png'),radial-gradient(green,yellow,orange,rgb(206, 29, 176));
    }
    
    .d10>.fondo{
        background-image: url('../img/images/garchomp.png'),radial-gradient(green,yellow,orange,rgb(206, 29, 176));
    }
    
    .d14>.fondo{
        background-image: url('../img/images/zoroark.png'),radial-gradient(green,yellow,orange,rgb(206, 29, 176)); 
       
    }
    
    .d15>.fondo{
        background-image: url('../img/images/moltres.png'),radial-gradient(darkorange,orange,yellow, green);
    }
    
    .d16>.fondo{
        
        background-image: url('../img/images/gliscor.png'),radial-gradient(darkorange,orange,yellow, green);
    }
    
    .d17>.fondo{
        background-image: url('../img/images/aegislash.png'),radial-gradient(darkorange,orange,yellow, green);
    }

    .d18>.fondo{
        background-image: url('../img/images/staraptor-sq.png'),radial-gradient(purple,green,yellow);
    }

}

@media screen and (max-width:650px) {

    h1{
        font-size: 15pt;
    }
    h2{
        font-size: 10pt;
    }
    section{
       width: 100%;
       grid-template-columns:330px;
       grid-template-rows:repeat(12,330px) ;
       gap: 20px;
        
    }

    .caja2{
        opacity: 0;
        height: 70px;
    }

    div>.caja2>h3{
        width: 100%;
        height: 100%;
        margin-bottom: 0%;
        font-size: 12pt;
    }

    .d2 .caja2>h3,.d3 .caja2>h3,.d6 .caja2>h3,.d7 .caja2>h3,.d10 .caja2>h3,.d14 .caja2>h3,.d16 .caja2>h3,.d17 .caja2>h3,.d18 .caja2>h3{
        font-size: 15pt;
    }

    .caja1>p{
        font-size: 8pt;
    }

    .d2 .caja3,.d3 .caja3,.d6 .caja3,.d7 .caja3,.d10 .caja3,.d14 .caja3,.d16 .caja3,.d17 .caja3,.d18 .caja3{
        height: 20%;
        bottom:-94%;
    }

    .caja3{
        margin: auto;
        position: absolute;
        z-index: 10;
        height: 20%;
        background: linear-gradient(180deg, rgba(68,0,254,0.5) 0%, rgba(191,34,238,0.5) 35%, rgba(233,84,84,1) 100%);
        bottom:-94%;
        width: 0%;
        left: 5%;
        transition: 1s;
        transition-delay: 1s;
        opacity: 0;
        border-radius: 10px;
    }

    /* para posicionar correctamente la caja2 dentro de los diferentes divs */
    .d1>div:last-child,.d5>div:last-child,.d15>div:last-child,.d2>div:last-child,.d3>div:last-child,.d6>div:last-child,.d7>div:last-child,.d10>div:last-child,.d14>div:last-child,.d16>div:last-child,.d17>div:last-child,.d18>div:last-child{
        top: -25%; 
    }

    /* animaciones y transacciones */

    @keyframes animacionNombrePokemon{
        0%{
            box-shadow: 0px 0px 25px  rgb(255, 255, 255);
        }
    } 

    
    .d3>.caja1,.d18>.caja1{
        background-image: url(../img/images/pokeball.png);
       
    }

    /* aplicamos las imagenes de fondo alos contenedores */

    .d1>.fondo{
        background-image:  url('../img/images/kyogre.png'),radial-gradient(#cc85e4, #650c88) ; 
    }

    .d2>.fondo{
        background-image: url('../img/images/machamp.png'),radial-gradient(#9b9bf4, #0b1eed) ;
    }

    .d3>.fondo{
        background-image: url(../img/images/milotic-sq.png),radial-gradient(purple,green,yellow);
    }

    .d5>.fondo{
        background-image: url('../img/images/lugia.png'),radial-gradient(#cc85e4, #650c88)  ;
    }

    .d6>.fondo{
        background-image: url('../img/images/haxorus.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
    }

    .d7>.fondo{
        background-image: url('../img/images/ditto.png'),radial-gradient(#9b9bf4, #0b1eed);
    }

    .d10>.fondo{
        background-image: url('../img/images/garchomp.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
    }

    .d14>.fondo{
        background-image: url('../img/images/zoroark.png'),radial-gradient(#9b9bf4, #0b1eed)  ; 
    
    }

    .d15>.fondo{
        background-image: url('../img/images/moltres.png'),radial-gradient(#cc85e4, #650c88)  ;
    }

    .d16>.fondo{
        
        background-image: url('../img/images/gliscor.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
    }

    .d17>.fondo{
        background-image: url('../img/images/aegislash.png'),radial-gradient(#9b9bf4, #0b1eed)  ;
    }

    .d18>.fondo{
        background-image: url('../img/images/staraptor-sq.png'),radial-gradient(purple,green,yellow);
    }

    
  

}